@font-face {
  font-family: "rubik";
  font-display: swap;
  src: url("../fonts/rubik-bold.woff") format("woff"), url("../fonts/rubik-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  font-display: swap;
  src: url("../fonts/rubik-regular.woff") format("woff"), url("../fonts/rubik-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: rubik;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 65px;
}

.btn {
  display: block;
  margin: 0 auto;
  max-width: 257px;
  background: #FCB500;
  border-radius: 7px;
  font-size: 18px;
  line-height: 21px;
  padding: 16px 56px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.btn span {
  color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: -o-linear-gradient(#000, #000);
  background-image: linear-gradient(#000, #000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .5s;
  -o-transition: background-size .5s;
  transition: background-size .5s;
}

.btn:hover {
  background: #FCDA28;
}

.btn:hover span {
  background-size: 100% 2px;
}

.header {
  background-color: #111;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 120px;
  height: 35px;
}

.header__nav {
  width: 975px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  font-size: 18px;
  line-height: 24px;
}

.header__link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -o-linear-gradient(#fff, #fff);
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .5s;
  -o-transition: background-size .5s;
  transition: background-size .5s;
}

.header__link:hover {
  background-size: 100% 2px;
}

.header__cart {
  width: 40px;
  height: 37px;
  background: url(../img/icons/basket.svg) 0 0 no-repeat;
  position: relative;
}

.header__cart span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCB500;
  right: 0;
  bottom: 0;
}

/* main */

.main__inner {
  min-height: 792px;
  background-color: #FCDA28;
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;
}

.main__title {
  font-weight: 700;
  font-size: 144px;
  line-height: 152px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
  z-index: 100;
  position: relative;
}

.main__descr {
  max-width: 658px;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 120px;
}

.main__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main__text {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  max-width: 350px;
}

.main__img {
  position: absolute;
}

.main__img--ginger {
  width: 496px;
  height: 409px;
  top: 265px;
  right: 65px;
}

.main__img--nootris {
  width: 224px;
  height: 635px;
  top: 65px;
  right: 160px;
}

.main__img--lemon {
  width: 533px;
  height: 463px;
  right: 243px;
  top: 440px;
}

/* discont */

.discont__inner {
  min-height: 925px;
  background-color: #111;
  padding: 110px 0px;
  text-align: center;
}

.discont__title {
  max-width: 865px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 85px;
}

.discont__title span {
  display: block;
  color: #FCB500;
}

.discont__price {
  margin-bottom: 60px;
}

.discont__price-old {
  font-size: 36px;
  line-height: 43px;
  color: #ADADAD;
  margin-right: 30px;
  text-decoration: line-through;
}

.discont__price-new {
  font-size: 48px;
  line-height: 57px;
}

.discont__advantages {
  max-width: 1087px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}

.discont__column {
  min-height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discont__img--ginger {
  width: 193px;
  height: 168px;
}

.discont__img--nootris {
  width: 480px;
  height: 160px;
}

.discont__img--virus {
  width: 192px;
  height: 160px;
}

.discont__text {
  font-size: 18px;
  line-height: 21px;
}

.discont__text span {
  display: block;
  color: #FCB500;
}

.discont__text-del {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 8px;
}

.discont__text-price {
  font-size: 24px;
  line-height: 28px;
  color: #FCB500;
}